<!DOCTYPE html>

  <%- include("partials/header"); -%>
  <center>
    <div class="header">
      <h2>Weather at <%=place%></h2>
    </div>
  </center>
  <center>
    <div class="container">
      The weather is <%=weather%>
      <br>
      The temperature is <%=temp%> degrees
      <br>
      <img src=<%=iu%>>
    </div>
  </center>

  <%- include("partials/footer"); -%>
  </body>

</html>
